    @import "mixins";
    @import "variables";
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    html {
        @include font;
        min-width: 800px;
    }
    
    body {
        background: url(../img/BGtexture.jpg), #b07027;
        cursor: default;
    }
    
    .maingame {
        min-width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .playingfield {
        width: 60%;
        text-align: center;
    }
    
    .play {
        width: 500px;
        height: 500px;
        margin: 70px auto;
        border: 10px solid $brcolor;
    }
    
    .game {
        @include font(1.5rem, bold);
        background: $bgcol;
    }
    
    .sizes {
        @include font(3.6rem, bold);
    }
    
    .sizes>* {
        border: 1px solid $bleckcolor;
        border-radius: 30px;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.4);
    }
    
    .size {
        background: $bgcolligth;
        display: inline-block;
        width: 35%;
        margin: 70px 20px 0px 20px;
        padding: 5px;
    }
    
    .active {
        color: $textcolor;
    }
    
    .startgame {
        display: inline-block;
        background: $bgcolligth;
        padding: 10px 55px;
        margin: 80px 60px 40px;
        position: relative;
    }
    
    .startgame::before {
        @include psevdobtn;
        right: 20px;
    }
    
    .startgame::after {
        @include psevdobtn;
        left: 20px;
    }
    
    .game {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        text-align: center;
        user-select: none;
        position: relative;
        .itemgame {
            border: 1px solid $bleckcolor;
            background: $bgcol;
        }
    }
    
    .statusgame {
        position: absolute;
        top: 0;
        left: 0;
        width: 480px;
        height: 480px;
        text-transform: uppercase;
        padding-top: 200px;
        background: rgba(10, 10, 10, 0.7);
        color: #ff5100;
        font-size: 4.5rem;
    }
    
    .hidden {
        display: none;
    }
    
    .sidefield {
        width: 40%;
        text-align: center;
        padding-top: 70px;
        padding-right: 50px;
        .labels {
            margin: 10px auto 50px;
            @include font(3.6rem, 400, $textFonts);
            text-transform: uppercase;
        }
        .btn {
            display: inline-block;
            width: 60px;
            height: 60px;
            border: 1px solid $bleckcolor;
            margin: 40px;
            border-radius: 50%;
            background-size: contain;
            background-color: $bgcol;
            box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.4);
        }
        .backbutton {
            background-image: url(https://www.flaticon.com/premium-icon/icons/svg/2028/2028261.svg);
            background-size: cover;
            padding: 15px;
        }
        .startagain {
            background-image: url(https://image.flaticon.com/icons/svg/1038/1038067.svg);
        }
    }
    
    @media(max-width: 870px) {
        .sidefield {
            .btn {
                margin: 40px 20px;
            }
        }
    }
    
    @media (min-width: 1250px) {
        .maingame {
            padding-left: calc(50vw - 625px);
            padding-right: calc(50vw - 625px);
        }
    }
    
    .active {
        color: $textcolor;
    }